<div class="container-3 general-font-family">
  <div class="container-title general-font-1">
        {{ h.getLangLabel("Dengue NS1 Rapid Screening","登革熱NS1快篩院所") }}&nbsp;-&nbsp;<a href="{{ _('{0}dataset/dengue-ns1').format(h.url_for(controller='home', action='index')) }}">{{ h.getLangLabel("Data","資料") }}</a>
  </div>
  <hr class="container-sepLine"></hr>
  <iframe class="iframe-container-ns1" src="http://localhost:12080/dataset/denguens1map/resource/b7b93f4d-35f7-4630-94c8-6efcb9aa62e3/view/4943d2ee-e24b-47b7-b9e5-4e6b72a01e0e" frameBorder="0" scrolling="no"></iframe>
</div>
